@charset "utf-8";

/**/
@font-face{
font-family:'Nanum Barun Gothic';
font-style:normal;
font-weight:700;
letter-spacing:-0.2px;
src:url(./font/NanumBarunGothic-Bold.eot);
src:url(./font/NanumBarunGothic-Bold.eot?#iefix) format('embedded-opentype'),
url(./font/NanumBarunGothic-Bold.woff) format('woff'),
url(./font/NanumBarunGothic-Bold.ttf) format('truetype')
}

@font-face{font-family:'Nanum Barun Gothic';
font-style:normal;font-weight:400;
letter-spacing:-0.2px;
src:url(./font/NanumBarunGothic-Regular.eot);
src:url(./font/NanumBarunGothic-Regular.eot?#iefix) format('embedded-opentype'),
url(./font/NanumBarunGothic-Regular.woff) format('woff'),
url(./font/NanumBarunGothic-Regular.ttf) format('truetype');}


@font-face {
  font-family: 'Nanum Gothic';
  font-style: bold;
  font-weight: 700;
  src: url(./font/NanumGothic-Bold.eot);
  src: url(./font/NanumGothic-Bold-iefix.eot) format('embedded-opentype'),
url(./font/NanumGothic-Bold.woff2) format('woff2'),
url(./font/NanumGothic-Bold.woff) format('woff'),
url(./font/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(./font/NanumGothic-Regular.eot);
  src: url(./font/NanumGothic-Regular-iefix.eot) format('embedded-opentype'),
url(./font/NanumGothic-Regular.woff2) format('woff2'),
url(./font/NanumGothic-Regular.woff) format('woff'),
url(./font/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: extrabold;
  font-weight: 800;
  src: url(./font/NanumGothic-ExtraBold.eot);
  src: url(./font/NanumGothic-ExtraBold-iefix.eot) format('embedded-opentype'),
url(./font/NanumGothic-ExtraBold.woff2) format('woff2'),
url(./font/NanumGothic-ExtraBold.woff) format('woff'),
url(./font/NanumGothic-ExtraBold.ttf) format('truetype');
}
