
li.jstree-open > a .jstree-icon {background:url("../../../images/fileselector/myfile-icon01.png") 0px 0px no-repeat !important;}
li.jstree-closed > a .jstree-icon {background:url("../../../images/fileselector/myfile-icon02.png") 0px 0px no-repeat !important;}


/*jstree context menu*/
.vakata-context,
.jstree-contextmenu,
.jstree-default-contextmenu{
	z-index:100;
}
/*파일다운로드 div */
#fileDownloadIframe {
	display: none;
}

/*테두리*/
.myfilebox {
	border: solid 3px #00c7e5;
	overflow: hidden;
	margin-bottom: 20px;
}

/*좌측컨텐츠*/
.leftcontent {
	width:245px;
	float: left;
	max-height: 633px;
	overflow-y : auto;
	overflow-x: auto;
	text-overflow: ellipsis;
}
/*우측컨텐츠*/
.rightcontent {
	width: 65%;
	float: right;
	padding: 25px;
	overflow: auto;
	height:583px;
}

/*좌측 jstree*/
.mflefttree {
	width:95%;
	min-width: 220px;
	min-height: 605px;
	float: left;
	padding: 5px 5px 5px 3px;
	
}

.mflefttree span {
	font-size: 15px;
	color: #666;
}

.mflefttree .bold {
	font-size: 15px;
	color: #000;
	font-weight: 600;
}


/*popup*/
.mfpopup01 {
	margin: 0 auto;
	overflow: hidden;
	width: 60%;
	margin-bottom: 5px;
}

.mfpd {
	padding-top: 27px;
}

.mfp01 {
	width: 250px;
	float: left;
}

.mfp02 {
	font-size: 15px;
	color: #555;
	width: 150px;
	float: left;
	padding-left: 20px;
	padding-top: 4px;
}

.mfp03 {
	width: 150px;
	float: right;
}

.mfpbtnbox {
	text-align: center;
	padding: 30px 0;
}

.edison .tablemf_list {
	line-height: 1.3em;
	width: 100%;
	border-top: 2px solid #6a8ec6;
	border-collapse: collapse;
	font-size: 15px;
}

.edison .borderno {
	border-top: 0px solid #6a8ec6;
}

.edison .tablemf_list a {
	text-decoration: none;
}

.edison .tablemf_list a:hover {
	color: #000;
	text-decoration: none;
}

.edison .tablemf_list caption {
	text-align: right;
	padding-right: 15px;
	color: #777;
	width: 100%;
	padding-bottom: 5px;
}

.edison .tablemf_list th {
	line-height: 2.0em;
	border: 1px solid #e1e1e1;
	border-bottom: 1px solid #ccc;
	padding: 4px;
	color: #000;
	font-weight: 500;
	background-color: #f1f1f1;
	text-align: center;
	font-size: 15px;
}

.edison .tablemf_list td.bottom {
	border-bottom: 1px solid #9397AE;
}

.edison .tablemf_list td {
	border: 1px solid #e1e1e1;
	color: #000;
	font-weight: 500;
	padding: 7px;
	vertical-align: middle;
}

.edison .tablemf_list td img {
	vertical-align: middle;
}

.edison .tablemf_list td.view {
	padding-top: 15px;
	padding-bottom: 20px;
	min-height: 250px;
}

.edison .tablemf_list td.name {
	color: #2184aa;
}

.bgcolor {
	background-color: #fcfcfc;
}

.edison .button08_1 {
	padding: 4px 10px 5px 10px;
	height: 34px;
	background: #606060;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border: solid 1px #6a6a6b;
	min-width: 90px;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
}

.edison .button08_2 {
	padding: 5px 10px 5px 10px;
	height: 33px;
	background: #606060;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border: solid 0px #6a6a6b;
	/*text-shadow: 1px 0px 0px #999;*/
	min-width: 90px;
	padding-left: 37px;
	background: url(../../../images/fileselector/myfile-icon06.png) no-repeat 10px 6px;
	background-color: #bac41c;
	color: #fff;
	font-weight: 600;
	font-size: 15px;
}

.edison .button02_1 {
	padding: 6px 20px 6px 20px;
	height: 36px;
	background: #0d7ad0;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border: solid 1px #1482d0;
	min-width: 150px;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	text-shadow: 1px 1px 0px #666;
}

.edison .button02_1 a:hover {
	color: #fffcf4;
	text-shadow: 1px 1px 0px #516172;
}

.edison .button04_1 {
	padding: 4px 20px 5px 20px;
	height: 34px;
	background: #84b3d3;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border: solid 1px #7a99af;
	min-width: 50px;
	color: #fff;
	font-weight: 600;
	font-size: 14px;
	text-shadow: 1px 1px 0px #567c98;
}

.edison .button04_1 a:hover {
	color: #fffcf4;
}

input[type=file] {
	width: 500px;
	border: 1px solid #CCCCCC;
	margin-bottom: 2px;
}

.allCheckBox {
	float: left;
	margin: 10px 0 0 3px;
}

.aui ul, .aui ol {
	margin: 0px;
}

